<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/form">Formulário</a>
            </li>
            <li>
                <a href="/aula">Aula</a>
            </li>
            <li>
                <a href="/usuario">Usuário</a>
            </li>
        </ul>
    </nav>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>